input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#minPrice, #maxPrice {
    font-size: .75em;
}

.flag:hover {
    cursor: pointer;
}

#propertyContent {
    width: 100%;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    width: 300px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}

.customHr {
    width: 95%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;

    background-color: grey;
    margin-top: -6px;
    margin-bottom: 10px;
}

.filterLabel {
    float: left;
    font-weight: bold;
}

#inputContainer input[type=number],
#inputContainer select {
    float: right;
}

.filterOption {
    margin: 10px;
}

#submitFilter {
    margin-left: 25%;
}